<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>More About the Project</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>About My Art My Access</h3>
    <p>The <a href="http://www.lib.utexas.edu/fal/" target="_blank">University of Texas at Austin Fine Arts Library</a>, in conjunction with the UT <a href="http://www.utexas.edu/cola/laits/" target="_blank">College of Liberal Arts IT</a> staff, manages DASE, a large image collection, to which the <a href="http://www.blantonmuseum.org/" target="_blank">Blanton Art Museum</a> contributes its digitized works. These artworks are used by faculty to support courses in disciplines such as Architecture, Art History, Studio Art, and French. Currently, there is no such collection or artwork interface that supports customized description from this audience.  For the project, I have designed and built a user interface that will allow faculty and students to define discipline-specific metadata to artworks. The purpose of this website is to support educational objectives, foster collaborative artwork description and serve the needs of specific yet diverse user demographics.</p>

    <p>The artworks presented in this interface have been sourced from the Fine Arts Library's Visual Resource Collection at the University of Texas at Austin. There are multiple artwork collections within the VRC; however, this interface does not use all artwork collections. Research for the project was conducted for this project at the UT <a href="http://www.ischool.utexas.edu/" target="_blank">School of Information</a> in 2012-2013.</p>
  </div>

  <div id="research-team" class="col-md-6">
    <h3>The Research Team</h3>
    <h5>Dr. Unmil Karadkar</h5>
    <p>Dr. Karadkar is an assistant professor at the University of Texas at Austin. He has been involved in the research and development of the My Art My Access user interface.</p>
    <h5>Nicholas Mitchell</h5>
    <p>Nicholas is responsible for the user interface planning, design and development. His user interface development is based upon previous research efforts by Dr. Unmil Karadkar, Jessica Higgins, Karen Pavelka, and Catherine Zinser.<p>
    <h5>Jessica Higgins</h5> 
    <p>Jessica's worked along side Dr. Unmil Karadkar in the Spring of 2012 for research project in the School of Information at the University of Texas at Austin. Her research revealed that existing artwork interfaces could not address audiences outside of museums and art history.</p>
  </div>
</div>

<div class="footer">
  <p>This is a footer.</p>
</div>