<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>Browse</h1>
  <p class="lead">
    Enhance artwork with meaningful description.
  </p>
</div>

<div ng-controller="ArtistCtrl">
  <div class="row">
    <div ng-repeat="artwork in artworks | unique:'metadata.agent[0]'">
      <div class="col-sm-6">
        <artwork imglink="{{artwork.media.viewitem}}">{{artwork.metadata.agent[0]}}</artwork>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <p>This is a footer.</p>
</div>