<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>Contact the My Art My Access Team</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Send a message</h3>
    <form class="contact">
      <fieldset>
        <input type="text" class="col-xs-6"  placeholder="Your Name">  
        <input type="text" class="col-xs-6" placeholder="Email Address">
        <input type="text" class="col-xs-12" placeholder="Subject">
        <textarea class="col-xs-12" rows="9"></textarea>
        <button type="submit" class="btn btn-primary col-xs-6">Send</button>
      </fieldset>
    </form>
  </div>

  <div class="col-md-6">
    <h4>More Ways to Connect</h4>
    <hr>
    <div class="row">
      <div class="col-xs-6">
        <h5>Dr. Unmil Karadkar</h5>
        <ul>
          <li>Phone: (555)555-5555</li>
          <li>Email: unmil@ischool.edu</li>
          <li><a href="http://razor.ischool.utexas.edu/~nmitchel/contact.php#">LinkedIn</a></li>
        </ul>
      </div>
      <div class="col-xs-6">
        <h5>Nicholas Mitchell</h5>
        <ul>
          <li>Phone: (555)555-5555</li>
          <li>Email: nmitchell@ischool.edu</li>
          <li><a href="http://razor.ischool.utexas.edu/~nmitchel/contact.php#">LinkedIn</a></li>
        <ul>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <p>This is a footer.</p>
</div>